
/* -------------------------------------------------------------------------------- */
/*	0. CSS Reset
/* -------------------------------------------------------------------------------- */

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.lefthr {
	float: left;
	width:20%;
	border-top: 3px solid #79d6b8;
}
.righthr {
	float: right;
	width:20%;
	border-top: 3px solid #79d6b8;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: 1px #767676 dotted;
	text-decoration: none;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #eee;
	color: #222;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}


/* -------------------------------------------------------------------------------- */
/*	1. Document Setup
/* -------------------------------------------------------------------------------- */


body {
	margin: 0;
	padding: 0;
	border: none;
	color: #222;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


* { 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}


.hidden { display: none; }
.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }

::selection {
	background: #222;
	color: #FFF;
}

::-webkit-input-placeholder { color: #A9A9A9; }
:-ms-input-placeholder { color: #A9A9A9; }

.content input[type="submit"],
.content input[type="reset"],
.content input[type="button"],


/* -------------------------------------------------------------------------------- */
/*	3. Header
/* -------------------------------------------------------------------------------- */


header { 
	position: relative;
	padding: 1px 0;
	border-top: 4px solid transparent; 
	background-image:linear-gradient(to right,#ffaf2a,#ff932f,#ff942f,#ff754a,#fe5d64,#f24983,#de4ca0,#bc6ca9,#8e84b1,#8e84b1,#3a9aba,#00adb5,#00b497,#00b982,#00ba82,#00b791);
}

/* -------------------------------------------------------------------------------- */
/*	4. Main content
/* -------------------------------------------------------------------------------- */
.wrapper {
	position: relative;
	height:100%;
	padding: 2% 2%;
	background-color: #FFF;
}

.site-content-contain {
	background-color: #fff;
	position: relative;
}

.site-content {
	padding: 2.5em 0 0;
}

#imagen {
	position:relative;
}
#imagen>div {		
	position: relative;
	bottom:670px;
	color:#fff;
	padding:30px 10px;
	font-weight:bold;
	border: 2px solid transparent;
    border-radius: 3px;
    margin: 100px;
}

#imagen>div.title{
	position: relative;
	bottom:550px;
	color:#fff;
	background-color: #79d6b8;	
	padding:13px 10px;
	font-weight:bold;
	border: 2px solid #79d6b8;
    border-radius: 3px;
    margin: 140px;
}

.subsection {
    position: absolute;
    left: 0px;
    float: left;
    width: 250px;
    height: 100px;
    margin: 1em;
}
.section {
    width: 590px;
    height: 100%;
    margin: 1em;
    float: right;
    text-align: justify;
}


#page {
	position: relative;
	word-wrap: break-word;
}

.page-title{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 5px solid #79d6b8;
	background-color:#79d6b8;
}

.page-description{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid transparent;
}

.wrap {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
}

.wrap:after {
	clear: both;
	content: "";
	display: block;
}

#masthead .wrap {
	position: relative;
}

.site-header {
	background-color: #f9f4f4;
	position: relative;
}

/* Site branding */

.site-branding {
 	position: relative;
    display: inline-block;
    text-align: center;

}

.site-branding a {
	text-decoration: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.site-branding a:hover,
.site-branding a:focus {
	opacity: 0.7;
}

.site-branding-text {
	vertical-align: middle;
}
.site-title {
	clear: none;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.08em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.site-title,
.site-title a {
	color: #222;
	opacity: 1; /* Prevent opacity from changing during selective refreshes in the customize preview */
}

.site-description {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	margin-bottom: 0;
}

.nameimage{
	position: relative;
    display: inline-block;
    text-align: center;
    margin: 1% 39% 10%;
}

.d{

}
/*-----------------------------------------------------------------------------
footer
----------------------------------------------------------------------------*/

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

.site-footer {
	border-top: 1px solid #eee;
}

.site-footer .wrap {
	padding-bottom: 1.5em;
	padding-top: 2em;
}

/* Footer widgets */

.site-footer .widget-area {
	padding-bottom: 2em;
	padding-top: 2em;
}

/*-----------------------------------------------
media 
*/

@media screen and (min-width: 401px) and (max-width: 720px) {
    #imagen>div {		
    	position: relative;
    	bottom:560px;
    	color:#fff;
    	padding:30px 10px; 
    	font-weight:bold;
    	border: 2px solid transparent;
    	border-radius: 3px;
    	margin: 100px;
    }
}

@media screen and (max-width: 400px) {
    #imagen>div {		
    	position: relative;
    	bottom:290px;
    	color:#fff;
    	padding:10px 10px; 
    	font-weight:bold;
    	border: 2px solid transparent;
    	border-radius: 3px;
    	margin: 97px;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    #imagen>div.title {
		position: relative;
		bottom:430px;
		color:#fff;
		background-color: #79d6b8;	
		padding:11px 10px;
		font-weight:bold;
		border: 2px solid #79d6b8;
    	border-radius: 3px;
    	margin: 140px;

	}
}

@media screen and (max-width: 400px) {
    #imagen>div.title {
		position: relative;
		bottom:195px;
		color:#fff;
		background-color: #79d6b8;	
		padding: 4px 31px;
		font-weight:bold;
		border: 1px solid #79d6b8;
    	border-radius: 3px;
    	margin: 60px;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px){
	.wrapper {
		height:100%;
		background-color: #FFF;
    	margin: -70% 2% 1% 2%;
	}
}

@media screen and (max-width: 400px){
	.wrapper {
		height:100%;
		background-color: #FFF;
    	margin: -106% 2% 1% 2%;
	}
}
